LAMATIC_API_KEY=your_lamatic_api_key_here
LAMATIC_API_URL=https://sandbox566-flowforcontent246.lamatic.dev/graphql
LAMATIC_WORKFLOW_ID=29897670-6e44-46a4-be97-ec7d133c71a5
LAMATIC_PROJECT_ID=5ff16d78-7137-45b7-a320-a9e1f4c8d4bd
PORT=3001
